---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page non trouvée">
    <main class="text-center max-w-lg">
        <h1 class="text-6xl font-extrabold text-error mb-6">404</h1>
        <h2 class="text-3xl font-bold mb-4">Oups ! Cette page n’existe pas</h2>
        <p class="mb-8 text-base-content/80">
            La page que vous recherchez a peut-être été supprimée ou n’a jamais
            existé.
        </p>
        <a href="/" class="btn btn-primary">Retour à l’accueil</a>
    </main>
</Layout>
